<?xml version="1.0"?>
<robot name="imu" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="imu_sensor" params="xyz rpy parent_link rate type model name">

    <xacro:property name="conf" value="$(find romea_imu_description)/config/${type}_${model}.yaml" />
    <xacro:property name="props" value="${load_yaml(conf)}"/>
    <xacro:property name="link_name" value="${prefix}${name}_link"/>
    <xacro:property name="joint_name" value="${prefix}${name}_joint"/>
    <xacro:property name="controller_name" value="${prefix}${name}_controller"/>
    <xacro:property name="parent_link_name" value="${prefix}${parent_link}"/>
    <xacro:property name="data_topic" value="${name}/data"/>

    <xacro:property name="acc_noise_std" value="${1.57*props['acceleration_noise_density']*sqrt(rate)}"/>
    <xacro:property name="acc_drift_std" value="${props['acceleration_bias_stability_std']}"/>
    <xacro:property name="ang_noise_std" value="${1.57*props['angular_speed_noise_density']*sqrt(rate)}"/>
    <xacro:property name="ang_drift_std" value="${props['angular_speed_bias_stability_std']}"/>
    <xacro:property name="heading_std" value="${props['heading_std']}"/>

    <gazebo reference="${link_name}">
      <material>Gazebo/Orange</material>
    </gazebo>
    <link name="${link_name}">
      <visual>
        <geometry>
          <box size="0.03 0.05 0.02"/>
        </geometry>
      </visual>
    </link>
    <joint name="${joint_name}" type="fixed">
      <axis xyz="0 0 1" />
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent_link_name}"/>
      <child link="${link_name}"/>
    </joint>

    <gazebo reference="${link_name}">
      <gravity>true</gravity>
      <sensor name='imu_sensor' type='imu'>
        <always_on>1</always_on>
        <update_rate>1000</update_rate>
        <visualize>1</visualize>
        <topic>__default_topic__</topic>
        <plugin name="${controller_name}" filename="libgazebo_ros_romea_imu.so">
          <update_rate>${rate}</update_rate>
          <body_name>${parent_link}</body_name>
          <topic_name>${name}/data</topic_name>
          <link_name>${link_name}</link_name>
          <accel_std>${acc_noise_std}</accel_std>
          <rate_std>${ang_noise_std}</rate_std>
          <angle_std>${heading_std}</angle_std>
          <imu_name>${prefix}${name}</imu_name>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
