<?xml version="1.0"?>
<robot name="imu" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="imu_sensor" params="xyz rpy parent_link rate type model name prefix">

    <xacro:property name="conf" value="$(find romea_imu_description)/config/${type}_${model}.yaml" />
    <xacro:property name="props" value="${load_yaml(conf)}"/>
    <xacro:property name="link_name" value="${prefix}${name}_link"/>
    <xacro:property name="joint_name" value="${prefix}${name}_joint"/>
    <xacro:property name="parent_link_name" value="${prefix}${parent_link}"/>
    <xacro:property name="data_topic" value="${name}/data"/>

    <xacro:property name="acc_noise_std" value="${1.57*props['acceleration_noise_density']*sqrt(rate)}"/>
    <xacro:property name="acc_drift_std" value="${props['acceleration_bias_stability_std']}"/>
    <xacro:property name="ang_noise_std" value="${1.57*props['angular_speed_noise_density']*sqrt(rate)}"/>
    <xacro:property name="ang_drift_std" value="${props['angular_speed_bias_stability_std']}"/>
    <xacro:property name="heading_std" value="${props['heading_std']}"/>

    <link name="${link_name}">
      <visual>
        <geometry>
          <box size="0.03 0.05 0.02"/>
        </geometry>
      </visual>
    </link>

    <joint name="${joint_name}" type="fixed">
      <axis xyz="0 0 1" />
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent_link_name}"/>
      <child link="${link_name}"/>
    </joint>

    <gazebo reference="${link_name}">
        <material>Gazebo/Orange</material>
        <sensor name="${name}" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <imu>
              <angular_velocity>
                <x>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>${ang_noise_std}</stddev>
                  </noise>
                </x>
                <y>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>${ang_noise_std}</stddev>
                  </noise>
                </y>
                <z>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>${ang_noise_std}</stddev>
                  </noise>
                </z>
              </angular_velocity>
              <linear_acceleration>
                <x>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>${acc_noise_std}</stddev>
                  </noise>
                </x>
                <y>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>${acc_noise_std}</stddev>
                  </noise>
                </y>
                <z>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>${acc_noise_std}</stddev>
                  </noise>
                </z>
              </linear_acceleration>
            </imu>
            <plugin name="${name}" filename="libgazebo_ros_imu_sensor.so">
                <ros>
                    <namespace>${prefix}${name}</namespace>
                    <remapping>~/out:=${name}/data</remapping>
                </ros>
                <initial_orientation_as_reference>false</initial_orientation_as_reference>
            </plugin>
        </sensor>
    </gazebo>

  </xacro:macro>
</robot>
