<?xml version="1.0"?>
<launch>

   <arg name="imu_name"/>
   <arg name="robot_name"/>
   <arg name="port"/>
   <arg name="data_topic"/>


   <node pkg="xsens_driver" type="mtnode.py" name="driver" >
      <param name="frame_id" value="$(arg robot_name)/$(arg imu_name)_link"/>
      <param name="device" value="$(arg port)"/>
      <param name="timeout" value="0.1"/>
      <remap from="imu/data" to="$(arg data_topic)"/>
      <remap from="imu/mag" to="mag"/>
      <remap from="imu/temperature" to="temperature"/>
      <remap from="imu/imu_data_str" to="data_str"/>
   </node>

</launch>
